*{
	font-family: Arial, sans-serif;
}

h1 {

	font-size: 1.5rem;
	text-align: center;
	/*width: 600px;*/
	max-width: 700px;
	margin: 15px auto;

	border: 1px solid black;
	box-shadow: 0px -5px 5px gray;
	border-radius: 10px;
	padding: 5px;
}

.justify-content {

	margin: 25px 0px;
	padding: 5px;
	border-radius: 0px 10px;


}

.justify-content > .title {

	text-decoration: none;
	color: black;
}

.justify-content > a:hover {

	color: dimgrey;
}

h2 {


	text-align: center;

}

section {


	background: royalblue;
	border: 2px solid black;
	width: 400px;
	max-height: 550px;/*define apenas o máximo de altura que o bloco pode chegar*/
	margin: 0px auto;

}

div {

	border: 1px solid black;
	border-radius: 20px;
	background: whitesmoke;
	margin: 5px;
	width: 100px;
	height: 100px;
}


#top {


	border: 3px solid royalblue; 
	border-radius: 15px;

}


ul {

	list-style-type: square;
	
	padding: 5px;
	margin: 5px 5px;
	max-width: 390px;

}

ul > li {

	padding: 8px;
	margin: 3px 15px;
}

ul > li > a{

	border: 1px solid black;
	color: black;
	text-decoration: none;
	border-radius: 20px;
	padding: 4px;

}

ul > li > a:hover {

	color: tomato;
	background: blanchedalmond;
}



/*============================[ Flex-direction ] */

.flex-direction-row {

	display: flex;
	flex-direction: row;

}

.flex-direction-row_reverse {

	display: flex;
	flex-direction: row-reverse;
}


.flex-direction-column{

	display: flex;
	flex-direction: column;
}


.flex-direction-column_reverse{

	display: flex;
	flex-direction: column-reverse;

}




/*============================[ Flex-wrap ] */




.flex-wrap-nowrap {

	display: flex;
	flex-wrap: nowrap;/*Única linha*/
}


.flex-wrap-wrap {

	display: flex;
	flex-wrap: wrap;/*Distribuido em várias linhas*/
}

.flex-wrap-reverse {

	display: flex;
	flex-wrap: wrap-reverse;/*Distribuido em várias linhas, mas itens reverso*/
}




/*============================[ Flex-flow ] */





.flexflow-row_wrap {/*fica em linha e quando não puder ser mais compactado, quebra linha*/

	display: flex;

	/*flex-direction and flex-wrap*/
	flex-flow: row wrap;


}

.flexflow-row-reverse_wrap {/*fica em linha reversa e quebra linha*/

	display:  flex;
	flex-flow: row-reverse wrap;

}



.flexflow-row_nowrap {/*fica em linha e não quebra a linha*/

	display:  flex;
	flex-flow: row nowrap;

}


.flexflow-row-reverse_nowrap{/*fica em linha reversa e não quebra a linha*/

	display: flex;
	flex-flow: row-reverse nowrap;
}

.flexflow-column_wrap{/*Os itens ficam em coluna, mas quando não puder compactar 
quebra para uma nova coluna*/


	display: flex;
	flex-flow: column wrap;

}

.flexflow-column_nowrap {/*Os itens ficam em coluna, mas quando não puder compactar,
não quebra para uma nova coluna, vai se redimensionar o quanto puder*/

	display: flex;
	flex-flow: column nowrap;
}



.flexflow-column-reverse_wrap{/*Os itens ficam em coluna reversa, mas quando não puder compactar,
 quebra para uma nova coluna. */

	display: flex;
	flex-flow: column-reverse wrap ;
}



.flexflow-column-reverse_nowrap{/*Os itens ficam em coluna reversa, mas quando não puder compactar,
não quebra para uma nova coluna, vai se redimensionar o quanto puder*/


	display: flex;
	flex-flow: column-reverse nowrap ;
}





/*=======================[ justify-content*/


.justify-content_start {

	display: flex;
	justify-content: start;/*Padrão*/

}



.justify-content_end {

	display: flex;
	justify-content: end;/*Padrão*/

}


.justify-content_center {

	display: flex;
	justify-content: center;/*Padrão*/

}


.justify-content_space-between {

	display: flex;
	justify-content: space-between;

}



.justify-content_space-around {

	display: flex;
	justify-content: space-around;

}


	/*---------------[ START Row - Direction e Wrap]---------------*/

.justify-content_start-row_wrap {

	display: flex;
	flex-flow: row wrap;
	justify-content: start;
}

.justify-content_start-rowreverse-wrap {

	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: start;


}


.justify-content_start-row_nowrap {

	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
}

.justify-content_start-row_wrapreverse {

	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: start;
}

.justify-content_start-rowreverse_wrapreverse{

	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: start;
}

	/*---------------[ START Column - Direction e Wrap]---------------*/

.justify-content_start-column_wrap {

	display:  flex;
	flex-flow: column wrap;
	justify-content: start;

}

.justify-content_start-columnreverse_wrap {

	display:  flex;
	flex-flow: column-reverse wrap;
	justify-content: start;

}

.justify-content_start-column_nowrap {

	display:  flex;
	flex-flow: column nowrap;
	justify-content: start;

}


.justify-content_start-column_wrap-reverse {

	display:  flex;
	flex-flow: column wrap-reverse;
	justify-content: start;

}

.justify-content_start-columnreverse_wrapreverse {


	display:  flex;
	flex-flow: column-reverse wrap-reverse;
	justify-content: start;

}

	/*---------------[ END row - Direction e Wrap]---------------*/


.justify-content_end-row_wrap {

	display:  flex;
	flex-flow: row wrap;
	justify-content: end;
}


.justify-content_end-rowreverse_wrap {

	display:  flex;
	flex-flow: row-reverse wrap;
	justify-content: end;
}


.justify-content_end-row_nowrap {

	display:  flex;
	flex-flow: row nowrap;
	justify-content: end;
}


.justify-content_end-row_wrapreverse {

	display:  flex;
	flex-flow: row wrap-reverse;
	justify-content: end;
}



.justify-content_end-rowreverse_wrapreverse {

	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: end;
}


	/*---------------[ END Column - Direction e Wrap]---------------*/



.justify-content_end-column_wrap {

	display: flex;
	flex-flow: column wrap;
	justify-content: end;
}


.justify-content_end-columnreverse_wrap {

	display: flex;
	flex-flow: column-reverse wrap;
	justify-content: end;
}


.justify-content_end-column_nowrap {

	display: flex;
	flex-flow: column nowrap;
	justify-content: end;
}


.justify-content_end-column_wrapreverse {

	display: flex;
	flex-flow: column wrap-reverse;
	justify-content: end;
}


.justify-content_end-columnreverse_wrapreverse {

	display: flex;
	flex-flow: column-reverse wrap-reverse;
	justify-content: end;
}



	/*---------------[ Space Between row - Direction e Wrap]---------------*/



.justify-content_spacebet-row_wrap {


	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}



.justify-content_spacebet-rowreverse_wrap {


	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

}

.justify-content_spacebet-rowreverse_wrap {


	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-between;

}

.justify-content_spacebet-row_nowrap {


	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

}

.justify-content_spacebet-row_wrapreverse {


	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: space-between;

}


.justify-content_spacebet-rowreverse_wrapreverse {


	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: space-between;

}


/*---------------[ Space Between column - Direction e Wrap]---------------*/




.justify-content_spacebet-column_wrap {


	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;

}



.justify-content_spacebet-columnreverse_wrap {


	display: flex;
	flex-flow: column-reverse wrap;
	justify-content: space-between;

}



.justify-content_spacebet-column_nowrap {


	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;

}


.justify-content_spacebet-column_wrapreverse {


	display: flex;
	flex-flow: column wrap-reverse;
	justify-content: space-between;

}


.justify-content_spacebet-columnreverese_wrapreverse {


	display: flex;
	flex-flow: column-reverse wrap-reverse;
	justify-content: space-between;

}



/*---------------[ Space aRound row - Direction e Wrap]---------------*/


.justify-content_spaceaRo-row_wrap {

	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}


.justify-content_spaceaRo-rowreverse_wrap {

	display: flex;
	flex-flow: row-reverse wrap;
	justify-content: space-around;
}



.justify-content_spaceaRo-row_nowrap {

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}

.justify-content_spaceaRo-row_wrapreverse {

	display: flex;
	flex-flow: row wrap-reverse;
	justify-content: space-around;
}

.justify-content_spaceaRo-rowreverse_wrapreverse {

	display: flex;
	flex-flow: row-reverse wrap-reverse;
	justify-content: space-around;
}


/*---------------[ Space aRound column - Direction e Wrap]---------------*/


.justify-content_spaceaRo-column_wrap {

	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
}


.justify-content_spaceaRo-columnreverse_wrap {

	display: flex;
	flex-flow: column-reverse wrap;
	justify-content: space-around;
}



.justify-content_spaceaRo-column_nowrap {

	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}

.justify-content_spaceaRo-column_wrapreverse {

	display: flex;
	flex-flow: column wrap-reverse;
	justify-content: space-around;
}

.justify-content_spaceaRo-columnreverse_wrapreverse {

	display: flex;
	flex-flow: column-reverse wrap-reverse;
	justify-content: space-around;
}




/*============================[ Align Items] */


.flex_align-items{


	display: flex;

}
