
/*Resetar alguns Estilos*/

body, h1, h2, p, ul, li, a {

	margin: 0px;
	padding: 0px;

}



/*Fonte e cores Geral do corpo do Site*/
body{

	font-family: "Nunito", Helvetica, Arial, sans-serif;
	color: #222222;
}


/*Remover estilos das listas*/

ul {

	list-style: none;
}


/*Remover decoração dos Textos*/
a {
	text-decoration: none;
}


/*Fazer as Imagens se tornarem responsivas sem 
estourar/transborda o container principal*/
img {

	display: block;
	max-width: 100%;
}


/*Estilo geral para o site*/

* {
	/*

		box-sizing:  propriedade define como a LARGURA e a ALTURA
		de um elemento SÃO CALCULADOS: devem incluir preenchimento e bordas 
		ou não.

			>border-box:  As propriedades de largura e altura 
			(e propriedades mín. / Máx.) Incluem conteúdo, preenchimento e 
			borda
	
				- As propriedades de largura ( width) e de altura ( height) 
				incluem o tamanho do preenchimento, mas não inclui uma 
				propriedade border ou margem.


				**Colocar tal propriedade para que todos os containers 
				respeitem a largura definida. Caso seja colocado um Espaçamento
				interno, tal propriedade não vai interferir na Largura do container,
				assim justando/adequando o conteúdo interno somente o necessário.


		*/box-sizing: border-box;
	
	
}

/*=======================[ Super Info*/


.superinfo-bg {

	background: #122ab2;
	color: white;


}

.superinfo {


	max-width: 960px;/**[ Segue o máximo de largura, igual aos demais itens ]**/
	margin: 0 auto;
	display: flex;/*Container Flexível*/
	justify-content: space-between;/*O espaço restante é DISTRIBUIDO ENTRE OS ITENS flexbox */
	flex-wrap: wrap;/*distribuídos entre várias linhas*/
	padding-top: 10px;/*Espaçamento de cima*/
}	


.superinfo p, .superinfo a{

	margin: 0 10px 10px 10px;
}

.superinfo a{

	color:  white;

}



/*=========================[ Menu ]*/



.menu-bg {

	background: #2c70ff;

}


.menu {

	max-width: 960px;/**[ Segue o máximo de largura, igual aos demais itens ]**/
	margin: 0 auto;/*Top e Bottom - Left e Right*/
	padding: 15px 0;/*Top e Bottom - Left e Right*/
	
	display: flex;/*Exibição dos itens ficam flexíveis*/
	flex-wrap: wrap;/*Quabra de linhas caso seja preciso*/
	justify-content: space-between;/*Ajusta de acordo com a diferença de espaço*/
	align-items: center;/*Alinha os itens flex no centro*/

}

.menu a {

	color:  white;
}


.menu-logo a{

	font-size: 2.25em;/*36 / 16 => 2,25  - 36 Tamanho ou size do texto*/
	font-weight: bold ;/*espessura da fonte - Negrito*/
	margin: 0 10px;/*Top e Bottom - Right e Left*/

}

.menu-nav ul {

	display: flex;/*Lista terá exibição Flexível*/
	flex-wrap: wrap;/*O itens da lista possui quebra de linha caso precise*/

}

.menu-nav a {

	font-size: 1.25em;/*20 / 16 => 1,25  - 20 Tamanho ou size do texto*/
	display: block;/*O elementos ancora continuam com exibição de bloco*/
	padding: 10px;
}


.menu-nav a:hover {

	color: #222222;;
}




/*=========================[ Introdução ]*/



.introducao {

	font-size: 3em;/*48 / 16 => 3 - Tamanho da font*/
	line-height: 1;/*espessura da linha*/
	max-width: 960px;/**[ Segue o máximo de largura, igual aos demais itens ]**/
	margin: 0 auto;/*Top e Bottom - Left e Right*/
	padding: 60px 10px;


}



/*=========================[ Sobre ]*/



.sobre {


	border-top: 2px solid #2c70ff;
	border-bottom: 2px solid #2c70ff;
	max-width: 960px;/**[ Segue o máximo de largura, igual aos demais itens ]**/
	margin: 0 auto;/*Top e Bottom - Left e Right*/
	padding: 60px 0;/*Top e Bottom - Left e Right*/
	display: flex;
	flex-wrap: wrap;
}

/*flex: flex-grow flex-shrink flex-basis|auto|initial|inherit;*/

.sobre-info {

	/*

		flex:  

			>[ 2 ] - flex-grow(Crescer) - relativo , seu comportamento depende 
			do valor dos irmãos 
			>[ 1 ] - flex-shrink(encolher) - o elemento encolherá por um fator de 1,Se 
			não houver espaço suficiente
			>[ 300px ] - flex-basis - tamanho inicial

	*/

	flex:  2 1 300px;
	margin: 0 10px;/*Top e Bottom - Left e Right*/
}

.sobre-info h1 {

	font-size: 3em;
	margin-bottom: .5em;
}


.sobre-info p {

	font-size:  1.25em;
	line-height: 1.4em;
	margin-bottom: 1em;
	color: #7c7c7c;
}

.sobre-img {

	flex:  1 1 160px;/* Cresce - preenche o espaço restante 
					/   Encolher - Se não houver espaço suficiente o elemento encolhe
				   / Possui um comprimento inicial de 160px */

	margin: 0 10px;/*Top e Bottom - left e Right */
}







/*=========================[ produtos ]*/



.produtos {

	max-width: 960px;/**[ Segue o máximo de largura, igual aos demais itens ]**/
	margin: 60px auto;/*Top e Bottom - Left e Right*/
	border: 1px solid red;

}


.produtos h1 {

	font-size: 3em;
	margin: 0 10px 60px 10px;/*Top - left - Bottom - right*/
	border: 1px solid green;

}


.produtos-container {

	display: flex;/*Container Flexível*/
	flex-wrap: wrap;/*Quabra de linha caso não consiga se ajustar*/
	align-items: flex-end;/*Todos os itens ficam alinhados ao final do eixo cruzado*/


	border: 2px solid black;

}


.produtos-item {

	flex-grow: 1; /*Fator de crescimento 1 - Preenche o espaço restante*/
	flex-shrink: 1;/*fator de redução 1 - Se não houver espaço os itens encolhe*/
	flex-basis: 175px;/*Comprimento inicial dos itens*/
	margin: 10px;

}


.produtos-item h2 {

	font-size: 3em;
	color:  #a4a4a4;
	background: #f7f7f7;
	padding: 60px 20px;

}


.purple {

	border-top:  8px solid #ae81ff;
}

.pink {

	border-top: 8px solid #f9265e;
}


.blue {

	border-top: 8px solid #66d9eb;
	align-self: flex-end;/*Utilziando o align self para que um único item se alinhe ao Final do eixo cruzado*/

}






/*=========================[ Preço ]*/


.preco {

	background: #f7f7f7;
	padding: 60px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;


	border: 2px solid black;

}


.preco-item {
	

	flex-grow: 1;/*Fator de 1 para preencher o espaço restante*/
	flex-shrink: 1;/*Fator de 1 para reduação*/
	flex-basis: 260px;/*Comprimento inicial*/
	border:  4px solid white;
	padding: 20px;
	margin: 10px;

}

.preco-item h2 {

	font-size: 3em;
	color:  #a4a4a4;
	text-align: center;
	margin-top: 20px;

}


.preco-item span {

	max-width: 300px;
	margin: 20px auto;/*Top e Bottom - Right e Left*/
	display: block;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
	padding: 10px 0 5px 0;/*Top - Right - Bottom - Left*/
	border-top: 4px solid white;
	border-bottom: 4px solid white;

}

.preco-item sup {

	font-size: 1.5rem;/*Rem - relativo a Raiz(16 px) - o rem é constante em todo o documento*/
}



.preco-item ul {

	max-width: 300px;
	margin: 20px auto;/*Top e Bottom - Right e Left*/
	font-size: 1.25em;
	font-style: italic;
	color: #7c7c7c;
	border: 1px solid red;

}


.preco-item li {

	border: 1px solid black;

	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.preco-item li:after {/*Depos do Item li*/

	content: '';
	display: block;
	width: 6px;
	height: 6px;
	background: #2c70ff;
	border-radius: 50%;

}


.preco-item a {

	max-width: 300px;
	display: block;/*Exibição de bloco*/
	margin: 20px auto;/*Top e Bottom - Left e Right*/
	border: 4px solid;
	color: #222222;
	text-transform: uppercase;/*O texto fica em Maiúsculo*/
	font-weight: bold;/*Font negrito*/
	font-size: 2.25em;
	padding: 15px 0;
	text-align: center;

}


@media (max-width:  800px){

	.preco {

		padding-left: 10px;
		padding-right: 10px;

	}


	/*order - Alterar a ordem dos itens*/

	.preco .preco-item:nth-child(3){

		/*-2 -1 0 1 2 [ 3 ] 4

		  	-2(3) -1 0
		*/

		order: -2;
	}

	.preco .preco-item:nth-child(2){

		order: -1;
	}
}




/*=========================[ Qualidade ]*/


.qualidade {

	max-width: 960px;
	margin: 60px auto;/*Top e Bottom - Left e Right*/
	display: flex;
	flex-wrap: wrap;
	


	border: 2px solid green;

}

.qualidade-item	{

	flex-grow: 1;/*Fator de crescimento 1 - Para preencher o espaço restante*/
	flex-shrink: 1;/*Fator de redução 1 - Se não houver espaço o item encolherá*/
	flex-basis: 280px;/*Definindo o comprimento inicial dos itens*/

	margin:  20px 10px;/*top e bottom - Left - Right*/
	border: 2px solid red;

}

.qualidade-item h2 {


	font-size: 2.25em;
	color: #a4a4a4;
	margin-bottom: 20px;

}

.qualidade-item h2:before {

	content: '';
	display: inline-block;
	width: 8px;
	height: 30px;
	margin-right: 10px;


}


.qualidade-item:nth-of-type(3n + 1) h2::before{

	background: #ae81ff;

}

.qualidade-item:nth-of-type(3n + 2) h2::before{

	background: #f92653;

}


.qualidade-item:nth-of-type(3n + 3) h2::before{

	background: #66d9eb;

}




/*===================[ newsletter ]*/

/*
	
	Ter uma cor que se expande de ponta-a-ponta, mas
	 sempre manter os elementos interno(Espaçamento Interno) a este container alinhados
	 com a largura principal da pagina


	Vamos fazer isso utilizando o cal do CSS. O Calculo a baixo se refere
	a Left e Right do espaçamento interno desse container


	(100% - 960px) /2

	100% -> Total do Layout
	960px -> Total do container que eu quero
	/2 


	Fica sempre alinhado aos demais itens da página
*/

.newsletter {

	padding: 60px calc((100% - 960px) / 2);
	display: flex;
	flex-wrap: wrap;



	border: 1px solid red;

}

.newsletter-info {

	flex-grow: 1;/*Fator de crescimento 1 - Para preencher o espaço restante*/
	flex-shrink: 1;/*Fator de redução 1 - Se não houver espaço o item encolherá*/
	flex-basis: 240px;
	margin: 0 10px;/*Top e Bottom - Left e Right*/


	border: 1px solid green;

}


.newsletter-info h1 {

	font-size: 3em;
	color: #a4a4a4;

}


.newsletter-info p {

	font-size: 1.25em;
	font-style: italic;
	max-width: 230px;
	color:  #7c7c7c;
	margin-bottom: 10px;

}


.newsletter-form {

	display:  flex;
	flex-grow: 2;/*Fator de crescimento 2 - Depende dos demais itens do container para crescer*/
	flex-shrink: 1; /*fator de reduação 1 - Caso não possuir mais espaço encolher para se adequar ao cenário.*/
	flex-basis: 260px;/*Comprimento inicial*/
	flex-wrap:  wrap;

	margin: 0 10px;
	align-items: center;

}

.newsletter-form input {

	flex-grow: 3;/*Fator de crescimento 3 - Utilizar todo o espaço necessário para Crescimento*/
	flex-shrink: 1;
	flex-basis: 260px;

	font-size:  1.25em;
	color: #7c7c7c;
	font-style: italic;
	font-family: "Nunito", Helvetica, Arial, sans-serif;	

	border: 4px solid #2c70ff;
	background: transparent;
	padding: 15px 10px;
	margin: 0px;
	border-radius: 0px;

}


.newsletter-form button {

	flex-grow: 1;/**/
	flex-shrink:  1;
	flex-basis: 260px;


	font-family: "Nunito", Helvetica, Arial, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	text-transform: uppercase;

	background: #2c70ff;
	color: white;
	margin: 0px;
	cursor: pointer;
	border: 0px;
	padding: 3px 10px;/*Top - Bottom e Left - Right*/


}


@media (max-width:  600px) {

	.newsletter-form button {
		font-size: 1.5em;
	}
}



/*======================[ Footer ]*/

footer {

	display: flex;
	background: #2c70ff;
	height: 200px;
	align-items:  center;
}

footer p {

	flex: 1;/*flex: 1 1 0%. */
	text-align: center;
	font-size: 2.25em;
	color: #122ab2;

}