section {

	border: 2px solid black;
	max-width: 50%;
	max-height: 100%;
	margin: 0 auto;
	padding: 5px;
	display: grid;
	grid-gap: 10px;
}


div {

	border: 1px solid black;
	width: 100%;
	margin: 5px auto;
	background: lightyellow;

}

div:nth-child(1){

	background: seagreen;

}

div:nth-child(2){

	background: green;
}

div:nth-child(3){

	background: blueviolet;

}


div:nth-child(4){

	background: blue;

}

div:nth-child(5){

	background: tomato;

}

div:nth-child(6){

	background: hotpink;

}


div:nth-child(7){

	background: greenyellow;

}

div:nth-child(8){

	background: brown;

}

h1 {

	font-size: 2.25em;
	font-family: fantasy;
	text-align: center;
	max-width: 50%;
	margin: 25px auto;
	border-radius: 10px;		
	border: 1px solid red;
}

h2 {


	margin: 0 auto;
	text-align: center;
	font-family: fantasy;
	
}


		
.grid-column-1, .grid-column-2, 
.grid-column-3, .grid-column-4, 
.grid-row-1, .grid-row-2, .grid-are-1{

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 100px);
	grid-gap: 15px;


}


.grid-column-1 .item-1 {

	grid-column: 3;
	border: 2px solid tomato;
}


/*Com Início e Termino*/
.grid-column-2 .item-2 {

	/*
				2 / 4 -> Inícia na 2ª Coluna e se espande até a 3ª coluna;

	*/

	grid-column: 2 / 4;
	border: 2px solid tomato;
}


/*Com Span */
.grid-column-3 .item-1 {

		
	grid-column: span 2;
	border: 2px solid tomato;
}


/*Ocupar todas colunas, idenpendente de quantas colunas tiver*/

.grid-column-4 .item-4 {

		
	grid-column: 1 / -1;
	border: 2px solid tomato;
}


/*[Utilizando nomes ]*/

.grid-columns-5 {

	grid-template-columns:  [col-inicio]1fr [meio] 1fr[col-final] ;


}


.grid-columns-5 .item-1 {/*Utilizando nomes nas colunas*/

	grid-column:  col-inicio / col-final;

}

.grid-columns-5 .item-3 {/*Utilizando nomes nas colunas*/

	grid-column:  col-inicio / meio;

}

.grid-columns-5 .item-4 {/*Utilizando nomes nas colunas*/

	grid-column:  col-inicio / col-final;

}


/*[ Utilizando o Template areas ]*/

.grid-columns-6 {

	grid-template-areas: 
	"header header header" 
	"sidenav content ads" 
	"sidenav footer footer";

}

.grid-columns-6 .item-1{

	grid-column-start: header;
	grid-column-end: ads;


}

.grid-columns-6 .item-2{

	grid-row-start: sidenav;
	grid-row-end: sidenav;
}



.grid-columns-6 .item-5{

	grid-column-start: footer;
	grid-column-end: footer;
}


.grid-columns-7 {

	grid-template-columns: 1fr 1fr 1fr;

}


.grid-columns-7 .item-1 {

	grid-column: 1 / -1;


}

.grid-columns-7 .item-2 {


	grid-column: 1;
	grid-row: 2 / 4;

}


.grid-columns-7 .item-5 {

	grid-column: 2 / 4;

}




/*==============================[ grid row*/


.grid-row-1 .item-3 {

	grid-row: 2;
	border: 2px solid red;
	border-radius: 10px;

}




.grid-row-2{

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 15px;

}

.grid-row-2 .item-3 {

	grid-row: 2 / 4;
	border: 2px solid red;
	border-radius: 10px;

}



.grid-row-2 .item-6 {

	
	border: 2px solid red;
	border-radius: 10px;
	grid-column: 3;
	grid-row: 2/5;

}



/*==============================[ grid Area ]*/


.grid-area-1{

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 100px);
	grid-gap: 15px;
}




.grid-area-1 .item-1 {

	grid-area: 1 / 2 / 4 / 2;

		O Item 1 tem inicio na  1ª Linha e 2ª Coluna;
		O Item 1 Se estende até a 4 Linha e termina na 2ª Coluna;


}


.grid-area-1 .item-4{

	grid-area: 2 / 1 / 2 / 4;

		/*O Item 1 tem inicio na  2ª Linha e 1ª Coluna;
		O Item 1 termina na 4 2ª Linha e termina na 4ª Coluna;*/

}


 
.grid-area-2, .grid-area-3 {

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 100px);
	grid-gap: 15px;



}



.grid-area-2 .item-1 {

	grid-area: 1 / 1 / 3 / 3;

}


.grid-area-2 .item-2 {

	grid-area: 1 / 3 / 5 / 3;


		/*O Item 2 tem inicio na  1ª Linha e 3ª Coluna;
		O Item 2 se estende até a 5ª Linha e termina na 3ª Coluna;*/

}






.grid-area-3 .item-1 {

	grid-area: 1 / 1 / 3 / 3;



}


.grid-area-3 .item-4 {

	grid-area: 3 / 3 / 3 / 3;

}


.grid-area-3 .item-5 {

	grid-area: 4 / 3 ;

}



.grid-area-3 .item-6 {

	grid-area: 2 / 1 / 2 / 3;
	

}




.grid-area-4 {

	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 2fr);
	grid-template-areas: 
	"header header header" 
	"sidenav content ads" 
	"sidenav footer footer";


}

.grid-area-4 .item-1{

	grid-area: header;
}

.grid-area-4 .item-2{

	grid-area: sidenav;
}

.grid-area-4 .item-3{

	grid-area: content;
}

.grid-area-4 .item-4{

	grid-area: ads;
}

.grid-area-4 .item-5{

	grid-area: footer;
}




.grid-area-5 {

	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));


}



.grid-area-5 .item-1{

	grid-column: 2 / 5;
	grid-row: 2 / 4;

	mix-blend-mode: screen;
	background: royalblue;

}


.grid-area-5 .item-2{

	grid-column: 3 / 5;
	grid-row: 3 / 6;
	mix-blend-mode: screen;
	background: seagreen;

}

.grid-area-5 .item-12 {

	grid-column: 4 / 6;
	grid-row: 1 / 5;
	background: skyblue;

	mix-blend-mode: screen;

}









.justifyself-1 {


	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3,50px);
	grid-row: 35px;

}



.justifyself-1 .item-2 {

	justify-self: start;

}