/*Resetar algumas opções padrões*/
body, ul, li, p {

	margin:  0px;/*Margin 0*/
	padding: 0px;/*Espaçamento interno 0*/
	list-style: none;/*Nenhum estilo para lista*/
	font-size: 1.2rem;
	font-family: Arial;



}

body {
	margin-bottom: 100px;

}

a {
	text-decoration:  none;/*Nenhum decoração para o elementos ancora*/
	color: #ffffff;

}


h1 {

	text-align: center;
	margin-top: 100px;
}

img {/*Todas as imagens ficam responsivas sendo dimensionadas de acordo com o seu tamanho*/

	max-width: 100%;
	display: block;

}

.header a {


	border:  1px solid grey;
}

.header {

	display: flex ;/*Colocar cada bloco um do lado do outro*/
	justify-content: space-between;/*Espeço entre os blocos dentro do header*/
	padding: 25px;/*25px no espaço interno do bloco header:  Top- Right - Left - Bottom*/
	align-items: center;/*Alinha bloco internos no centro*/
	background-color:  #1d1e12;
	border:  1px solid red;
}



.menu {

	display: flex; /*Colocar cada bloco filho um do lado do outro*/
}

.menu li {

	margin-left: 10px;

}

.menu li a {

	
	display: block;/*Os elementos ancaro fica redenrizado como bloco*/
	padding: 10px;
	background:  tomato;

}

/*CSS FLEXBOX 1*/



.flex {

	display: flex;/*Colocar cada bloco filho(Div) um do lado do outro*/
	flex-wrap: wrap;/*itens flexíveis serão agrupados, se necessário*/
	max-width:800px; /*definindo o máximo de largura desse container*/
	margin: 0 auto;/*Alinhar ao centro quando passar dos 800px*/
	border: 2px solid red;

}


.flex > div{

	flex: 1 1 200px;
	margin: 10px;/*10 px top - left - rigth - bottom*/
}



/*CSS GRID LAYOUT 1 - Layout de Grade*/


.grid1 {

	display: grid; /*Definindo essa bloco como um contêiner de grade*/
	grid-template-columns: repeat(3, 1fr);/*definindo a quantidade de colunas no grid e fração*/
	max-width: 800px;
	padding: 10px;
	margin: 0 auto;
	grid-gap: 10px;/*Define a margim dos bloco filhos*/

	border: 2px solid red;

}



.grid1 > div:nth-child(n + 4) {/*Do 4ª item para baixo*/


	display: grid;/*Torna todos conteiners em grid*/
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
	align-items: center;
	

}


.grid1 > div.anuncio {

	grid-column: 1;/*Colocando o bloco na coluna 1 do grid*/
	grid-row: 2 / 5;/*Colocando o bloco na na linha 2  até linha 5*/
	border-top:  10px solid tomato;
	display: block;
}


/*CSS GRID LAYOUT 1 - Layout de Grade responsivo Mobile*/

@media (max-width:  600px){/*Quando o o máximo de largura estiver a baixo de 600*/

	.grid1 {

		grid-template-columns: repeat(2, 1fr);
	}

	.grid1 > div:nth-child(n + 4){

		display: block;/*Desfazer toda estilização aplicada no desktop*/
	}

	.grid1 > div.anuncio {/*O Unúncio vai ter o seu posicionamento automatico*/
		grid-column: auto;
		grid-row: auto;
		order: -1;

	}

}




/*CSS GRID LAYOUT 2 */


.grid2 {

	display: grid;/*Esse bloco terá a exibição de layout de grade*/
	grid-template-columns: 1fr 200px;/*Uma coluna com 200px */
	grid-gap: 20px;/*Define a margim dos bloco filhos*/
	max-width: 800px;
	padding: 10px;/*Espaçamento interno*/
	margin: 0 auto;/*Margin principal*/




	border: 2px solid red;


}


.grid2 > div:nth-child(1){


	padding: 5px;
	border:  2px solid orange;
}

.sidebar {

	padding: 5px;
	border:  5px solid black;
}

.sidebar > div{

	border:  1px solid orange;
	padding: 5px;
	margin-bottom: 10px;

}




/*CSS GRID LAYOUT 2 - Layout de Grade responsivo Mobile*/


@media (max-width:  600px){

	.grid2 {

		grid-template-columns: 1fr;/*Fazer com que o Grid exiba o demais blocos em apenas uma coluna*/
	}

	.sidebar {

		padding: 5px;
		overflow: scroll;
		display:  flex;/*Colocar cada bloco filho(Div) um do lado do outro*/

	}

	.sidebar > div{

		flex: 1 0 200px;

		margin: 0 10px;

	}



}




.grid3 {

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	max-width: 800px;
	grid-gap: 20px;
	margin: 0 auto;
	padding: 10px;


	border: 1px solid red;
}





.grid3 > div:nth-child(1){

	border: 1px solid orange;
	grid-row: 1 / 3;/*Esse item vai da linha 1 até 3*/

}




.grid3 > div {/*Todas itens Div vai ter a exibição de grid */


	display:  grid;

}

.grid3 > div > img{

	grid-column:  1;
	grid-row: 1/3;
	align-self: end;


}


.grid3 > div > p{


	background: rgba(0, 0, 0, 0.6);
	padding: 10px;
	color: white;
	grid-column: 1;
	grid-row: 2;
	align-items: end;
}