	
		h1 {

			font-size: 2.25em;
			font-family: fantasy;
			text-align: center;
			max-width: 50%;
			margin: 15px auto;
			border-radius: 10px;

			
			border: 1px solid red;
		}

		.title {
			text-align: none;
			margin: 0;

		}
		

section {

	border: 2px solid black;
	max-width: 50%;
	max-height: 100%;
	margin: 0 auto;
	padding: 5px;
	display: grid;
	grid-gap: 10px;
}

.grid {/*deve-se adicionar um número de colunas*/

	grid-template-columns: 1fr 1fr;

}
			
.grid-template-columns_none {	

	
	grid-template-columns: none;/*Uma Coluna*/

}


.grid-template-columns_max {
	
	grid-template-columns: max-content;/*Uma Coluna*/

}

.grid-template-columns_min {		

	
	grid-template-columns: min-content;/*Uma Coluna*/

}


.grid-template-columns_min-max{

	
	grid-template-columns: min-content max-content;
}

.grid-template-columns_duas{

	grid-template-columns: 50px 100px;

}

.grid-template-columns_tres {

				
	grid-template-columns: 100px auto 100px;/*Uma Coluna*/

}



.grid-template-columns_fr {

	grid-template-columns: 2fr 1fr 3fr ;


}



.grid-template-columns_fr-repeat {

	grid-template-columns: repeat(4, 6fr) ;


}

.grid-template-columns_minmax {

	grid-template-columns: minmax(100px, 200px) 1fr;
}

.grid-template-columns_mix {

	grid-template-columns: 2fr repeat(4, 1fr) 2fr;
}

/*
			
		Preencher o espaço restante do contêiner com colunas e ajusta 
		conforme tamanho necessário 

*/
				
.grid-template-columns_autofit{

	grid-template-columns: repeat(auto-fit,minmax(100px, auto));
}

			/*
			
				 Preencher o espaço restante do contêiner com colunas vazias
				  e não se preocupa com o tamanho delas
			*/	
.grid-template-columns_autofill{

	grid-template-columns: repeat(auto-fill,minmax(100px, auto));
}


div {

	border: 1px solid black;
	width: 100%;
	margin: 5px auto;

}

div:nth-child(1){

	background: seagreen;

}

div:nth-child(2){

	background: green;
}

div:nth-child(3){

	background: blueviolet;

}


div:nth-child(4){

	background: blue;

}

div:nth-child(5){

	background: tomato;

}

div:nth-child(6){

	background: hotpink;

}


div:nth-child(7){

	background: greenyellow;

}

div:nth-child(8){

	background: brown;

}


h2 {


	margin: 0 auto;
	text-align: center;
	font-family: fantasy;
	
}





/* ===========================[ Grid - LInhas */











.grid-template-rows_none {

	
	grid-template-rows: none;

}

.grid-template-rows_two {

	grid-template-rows: 60px 100px ;
}

.grid-template-rows_maxcontent {

	grid-template-rows: max-content;

}

.grid-template-rows_mincontent {

	grid-template-rows: min-content;
}


.grid-template-rows_fr {

	grid-template-rows: 1fr 2fr 3fr 1fr;
}



.grid-template-rows_web {/*Exemplo de grid para web*/


	grid-template-columns: 100px auto 50px;
	grid-template-rows: 100px 200px 60px;


}




/* ===========================[ Grid - Áreas */


/*
	Aqui apenas estamos definindo o nome das áreas do grid(Linhas e Colunas)
*/
.grid-template-areas_web1 {

	grid-template-areas: 

	"logo navegacao navegacao "   /*:: 1 Linha e 3 Colunas*/
	"sidenav content advert" 	 /*:: 2 Linha e 3 Colunas*/
	"sidenav footer footer";	/*:: 3 Linha e 3 Colunas*/


}


@media (max-width: 500px){/*Definindo as áreas conforme o cenário*/


	.grid-template-areas_web1 {

		grid-template-areas: 

		"logo logo logo"
		"sidenav sidenav sidenav"
		"navegacao navegacao navegacao"   /*:: 1 Linha e 3 Colunas*/
		"content content content" 	 /*:: 2 Linha e 3 Colunas*/
		"advert footer footer";	/*:: 3 Linha e 3 Colunas*/


	}


}

.grid-template-areas_web2 {

	grid-template-areas: 

	"sidenav logo navegacao "     /*:: 1 Linha e 3 Colunas*/
	"sidenav content advert" 	 /*:: 2 Linha e 3 Colunas*/
	"sidenav content footer";	/*:: 3 Linha e 3 Colunas*/

}


.grid-template-areas_mobile {

	grid-template-areas: 

	"logo logo"
	"navegacao navegacao"
	"content content"
	"sidenav advert"
	"footer footer";
}



.grid-template-areas_line-columns {

	/*
		Aqui já estamos definindo a quantidade e largura das colunas;
		Aqui já estamos definindo a altura de cada linha do grid;
		Aqui já estamos definindo áreas do nosso grid a partir dos nomes;
	*/

	grid-template-columns: auto 60% 10%;
	grid-template-rows: 50px 150px 50px;

	grid-template-areas: 

	"logo navegacao navegacao" 
	"sidenav content advert" 
	"sidenav footer footer";





}


/*
	Definir em cada Item(Div) sua área no grid
*/

.logo {

	grid-area: logo;
}

.navegacao {

	grid-area: navegacao;
}

.sidenav {

	grid-area: sidenav;
}

.content {

	grid-area: content;
}


.advert {

	grid-area: advert;
}

.footer {

	grid-area: footer;
}


/*====================[ Grid Template ]*/



/*[Exemplo 1]*/
.grid-template1 {

	grid-template: 
					/*Cabeçalho - Ocupa 1 linha Com Três Colunas - Altura de 50px*/
				   "header header header" 50px 

				   /*Menu lado ocupa 1(uma) coluna e main duas colunas 
				   com altura de 200px*/
				   "sidebar main main" 200px /

				   /*Após a / -> Estamos definindo a largura das colunas: 

						100px -> Primeira Coluna com 100px;
						auto -> Segunda coluna automatica;
				   */
				   100px auto;



}



.cabecalho {

	grid-area: header;

}

.menulado {

	grid-area: sidebar;
}

.principal {

	grid-area: main;
}



/*Exemplos 2*/


.grid-template2 {

	
	grid-template: 

		/*Duas linhas - uma com altura de 100px e outra com 50px*/
		100px 50px / 

		/*Duas Colunas - com largura de 1fr */
		1fr 2fr ;	



}


.grid-template3 {

	grid-template: 

		/* 1(Uma) linha com 3(Três) Colunas e Áreas já definidas - Tendo 200px de altura*/
		"logo nav nav" 200px

		/*1(Uma) linha com 3(Três) Colunas e Áreas já definidas - Tendo 150px de altura */
		"sidenav content advert" 150px

		/*1(Uma) linha com 3(Três) Colunas e Áreas já definidas - Tendo altura Automatica */
		"sidenav footer footer"

		/*3(Três) colunas no grid - Aqui definimos a largura de cada coluna*/
		/ 100px 1fr 1fr;


}


.logo3 {

	grid-area: logo;
}

.nav3 {
	grid-area: nav;
}

.sidenav3 {

	grid-area: sidenav;
}

.content3 {

	grid-area: content;
}

.advert3 {

	grid-area: advert;
}

.footer3 {

	grid-area: footer;
}







/*=====================[ Grid-column-gap ] */



.gap-column {

	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 100px;

}

.gap-rows{

	grid-template-columns: 1fr 1fr 1fr;
	grid-row-gap: 100px;

}


.grid-gap1 {

	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 100px 50px;/*Linhas e Coluna*/
}


.grid-gap2 {

	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10px;/*Linhas e Coluna*/
}









/*=====================[ grid-auto-columns ]*/


.grid-auto-columns-1{
	
	grid-template-columns: 1fr 1fr;
	grid-auto-columns: 2fr;/*Todas as colunas que forem criadas de forma 
	implicita terão
	2fr*/

}



/*força um item do grid criar uma coluna de forma implicita: 

	Ex:  Nesse cenário o grid possui apenas duas colunas, assim
	vamos fazer com que um item seja colocado em uma coluna, que não existe, assim
	esse item estará de forma implicita no grid.

*/


.item-6 {

	grid-column: 3;/*Itens ajustados na coluna 3, mas não possui largura/tamanho que 
	se enquadra no grid*/

}

.grid-auto-columns-2 {


	grid-template-columns: 1fr 2fr;

	/*Segue uma ordem:  a 1º coluna criada de forma implicita
	tem 100px, a segunda 250px, a terceira 100px novamnete, assim por diante.*/
	grid-auto-columns: 100px 250px;
}


.item6 {

	grid-column: 4;

}




/*=====================[ grid-auto-rows ]*/



.grid-auto-rows-1 {

	/*Definido duas Colunas com respectivas larguras*/
	grid-template-columns: 1fr 1fr;

	/*Definido duas Linhas com respectivas Alturas*/
	grid-template-rows: 100px 100px;

	/*para primeira linha implicita 220px e segunda 100px*/
	grid-auto-rows:220px 100px;
}


.item-row-6 {

	grid-row: 3;

}




/*=====================[ grid-auto-flow ]*/


/*Valor Padrão - Sempre cria novas linhas */
.grid-auto-flow-1 {

	grid-template-columns: 1fr 2fr;
	grid-template-rows: 100px 200px;
	grid-auto-flow: row;


}


.grid-auto-flow-2 {

	grid-template-columns: 1fr 1fr;
	grid-auto-flow: column;


}


/*==================[ Começo de coluna de grade*/

.grid-columns-1 {

	grid-template-columns: 1fr 1fr 1fr;/*Definindo Três Colunas, cada uma com 1uma fração de espaço*/
}


.columnstart-seis {

	grid-column-start: 1;
	background: tomato;
	border: 3px solid black;
}




/*==================[ Fim de coluna de grade*/


.grid-columns-2 {

	grid-template-columns: 1fr 1fr 1fr;/*Definindo Três Colunas, 
	cada uma com 1uma fração de espaço*/
}

/*O item 1 termina na coluna 3*/
#item1 {

	grid-column-end: 4;

}

/*O item 8 - Se espande por três colunas */

#item8 {

	grid-column-end: span 3;

}


/*==================[ Começo de linha de grade*/





.grid-row-1 {


	grid-template-columns: 1fr 1fr;


}


#item-row-1 {

	grid-row-start: 2;
	background: royalblue;
	border: 2px solid blue;
}







.gridrow_end-1 {

	grid-template-columns: 1fr 1fr 1fr;

}

/*Item 1 - Começa a partir da terceira linha*/
#itemrow_end-1 {

	grid-row-end: 4;

}

/*item 3 - Se espande na 3 linhas*/

#itemrow_end-3 {

	grid-row-end: span 3;

}




/*====================================[ grid_justify-content ]*/




.grid_justify-content {


	grid-template-columns: repeat(3, 100px);
	grid-template-rows: repeat(3, 100px);
}

.start {

	justify-content: start;

}


.end {

	justify-content: end;
}


.center {
	justify-content: center;
}

.space-between {

	justify-content: space-between;
}

.space-around {

	justify-content: space-around;
}

.space-evenly {

	justify-content: space-evenly;
}




/*====================================[ grid_align-content ]*/


.grid_align-content {

	grid-template-columns: repeat(3, 150px);
	grid-template-rows: 100px 100px 100px;
	column-gap: 25px;
	height: 500px;
	width: 500px;


}


.align-start {

	align-content: start;
}


.align-end {

	align-content: end;
}


.align-between {

	align-content:space-between;
}


.align-around {

	align-content:space-around;
}

.align-center{

	align-content: center;
}

.align-evenly {

	align-content: space-evenly;
}


.align-stretch {

	grid-template-columns: auto	;
	align-content: stretch;
}

